!!! 5
%html
  %head
    %title Conway's Game of Life by CootCraig
    %link{:rel => "stylesheet", :type => "text/css", :href => "conway_game.css"}
    %script{:src => "jquery-1.4.3.min.js"}
    %script{:src => "jquery_timers.js"}
    %script{:src => "conway_game.js"}
    %script{:src => "conway_game_document_ready.js"}
  %body
    %h1 Conway's Game of Life - Done with Javascript,JQuery,CSS
    #control
      #step_button{:class => 'css_button'} Step
      #clear_button{:class => 'css_button'} Clear
      #run_button{:class => 'css_button'} Run
      #num_steps{:class => 'css_button'}
        %form
          Number of Steps
          %input#number_of_steps{:type => 'text', :name => 'number_of_steps'}
    #board
    #rules_of_the_game
      %h2 Rules of the Game
      Every new generation of Life is determined from the previous generation by three simple rules:
      %ul
        %li If an alive cell has two or three alive neighboring cells, it stays alive.
        %li If a dead cell has exactly three alive neighboring cells, it comes to life.
        %li Otherwise, the cell will stay dead or die.
      A "neighboring cell" is any of the eight cells adjacent or diagonally adjacent to the given cell.
